[Unit]
Description=Clash daemon, A rule-based proxy in Go.
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/opt/clash/clash -d /opt/clash/etc

[Install]
WantedBy=multi-user.target
