version: "3.8"

services:
  server:
    image: gitea/gitea:1.19.3
    environment:
      - USER_UID=${USER_UID}
      - USER_GID=${USER_GID}
      - SSH_PORT=2000
      - DISABLE_SSH=true
      - DB_TYPE=mysql
      - DB_HOST=127.0.0.1:3306
      - DB_NAME=gitea
      - DB_USER=gitea
      - DB_PASSWD=gitea
    restart: always
    volumes:
      - gitea_data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    network_mode: host

volumes:
  gitea_data:
    name: gitea_data
    driver: local
    driver_opts:
      type: none
      device: /data/gitea
      o: bind
